@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Bad+Script&display=swap&subset=cyrillic');

/* font-family: 'Amatic SC', cursive;
font-family: 'Bad Script', cursive; */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: 'Bad Script', cursive;
  background-image: url('./bg.jpg');
  background-color: #6c9773;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  }

h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: rgb(48, 35, 41);
}

form {
  background-color:rgba(78, 43, 69, 0.541);
  border: none;
  padding: 20px;
  width: 20%;
  margin: 0 auto;
}

input {
  width: 100%;
  font-family: 'Bad Script', cursive;
  line-height: 20px;
  outline: none;
  background-color: rgba(177, 148, 168, 0.514);
  border: 0;
  }
::-webkit-input-placeholder {color:#000000;}

input[type="submit"] {
  height: 10%;
  width: 50%;
  margin: 10px auto;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 1s;
}

input[type="submit"]:hover {
  transform: scale(1.2);
}

a {
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 1s;
}
a:hover {
  transform: scale(1.2);
}

form * {
  display: block;
}