div.main {
    margin: 0 auto;
    text-align: center;
}

div.card {
    border: 1px solid;
    width: 220px;
    height: 100px;
    display: inline-block;
}

div.card-img {
    height: 100px;
    background: url(https://i.picsum.photos/id/1050/6000/4000.jpg);
    background-size: cover;
    background-position: center;
}

h2.card-heading {
    margin-top: 0;
}

div.card-ui {
    display: flex;
    justify-content: space-around;
}

div.card-ui a {
    width: 40%;
    padding: inherit;
}

a {
    display: inline;
}

form {
    display: none;
    position: absolute;
    top: 30vh;
    left: 40vw;
    background-color:rgb(78, 43, 69);
}

a#form-toggler {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 30px;
    background: rgba(78, 43, 69, 0.651);
    cursor: pointer;
}