<html lang="en">
  <head>
    <title>Flask App</title>
    <link 
        rel="stylesheet" 
        href={{ url_for('static', filename='style.css') }}
    >
  </head>
<body>
    <h1>Nothing</h1>
      {% if error == 'passwords_error' %}
      <p>Sorry, your passwords don't match. Try again. 对不起，您的密码不匹配。 再试一次。죄송합니다,암호가 일치하지 않습니다. 다시 시도하십시오. パスワードが一致しません。 もう一度。ขอโทษของคุณรหัสผ่านไม่ตรงกัน ลองใหม่อีกครั้ง Paenitet, tua tesserae non par. Experiri iterum. Кешіріңіз, сіздің құпия сөзіңіз болмайды. Қайтадан көріңіз. Aroha mai, tō kupuhipa kore e ōrite. Ngana anō.</p>
      {% elif error == 'already_exists' %}
      <p>Sorry, your account already exists. Try again.</p>
      {% endif %}
        <form method="POST">
            <label>Name</label>
            <input minlength="5" maxlength="20" name="name" placeholder="valid username" required>
            <br>
            <label>Email</label>
            <input type="email" maxlength="20" name="email" placeholder="email@email.com" required>
            <br>
            <label>Password</label>
            <input type="password" minlength="6" maxlength="20" name="password" placeholder="6 and more symbols" required>
            <br>
            <label>Password</label>
            <input type="password" minlength="6" maxlength="20" name="password_check" placeholder="6 and more symbols" required>
            <br>
            <input type="submit" value="Send!">
            <a href='/login'>Already have account?</a>
        </form>
</body>
</html>