<html lang="en">
  <head>
    <title>Flask App</title>
    <link 
        rel="stylesheet" 
        href={{ url_for('static', filename='style.css') }}
    >
    <link 
        rel="stylesheet" 
        href={{ url_for('static', filename='user.css') }}
    >
  </head>
  <body>
      {% if name != session['account'] %}
      <p>Something went wrong, please go to 
          <a href={{ url_for('index') }}>Sing Up</a>
          <a href={{ url_for('login') }}>Log In</a>
      </p>
      {% else %}
      <h1>Hello, {{ name|title }}!</h1>
        <div class='main'>
        <p>You're pretty! I love you!</p>
        {% for task in tasks %}
        <div id={{ loop.index|string }} class="card">
          <div class="card-img">{{ task.status }}</div>
          <div class="card-header">{{ task.title }}</div>
          <div class="card-details">{{ task.details }}</div>
          <div class="card-start-date">Created: {{ task.created_on }}</div>
          {% if task.deadline %}
          <div class="card-end-date">Deadline: {{ task.deadline }}</div>
          {% endif %}
          <div class="card-ui"></div>
          <a href={{ "/status/" + loop.index|string }}>Change Status</a>
          <a href="#" onclick=remove_task(event)>Remove</a></br>
        </div>
        {% endfor %}
        <form method="POST">
          <label>Title</label>
          <input minlength="5" maxlength="20" name="title" placeholder="hz" required>
          <br>
          <label>Details</label>
          <input name="details" placeholder="g" required>
          <br>
          <label>Deadline</label>
          <input type="date" name="deadline" placeholder="a" required>
          <br>
          <input type="submit" value="Send!">
      </form>

      <a id="form-toggler">SHOW</a>
      </div></br>
        <a href={{ url_for('logout') }}>Log Out</a>
      </div>
      <script src={{ url_for('static', filename='task.js') }}></script>
      {% endif %}
  </body>
</html>